* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  cursor: pointer;
}

.main-container-wrapper {
  width: 95%;
  /* background-color: blue; */
  margin: 0 auto;
}

.nav-header-section-wrapper{
  height: 70px;
  background-color: #000;
}
.nav-links-wrapper{
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

}
.nav-links-wrapper .nav-links{
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}




/* home section */
.home-section-wrapper{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
.home-section-image-wrapper{
  width: 73%;
  height: 350px;
  align-self: flex-start;
}
.home-section-image-wrapper img{
  width: 100%;
 height: inherit;
  object-fit: cover;

}
.main-section-sidebar{
  width: 25%;
  align-self: flex-start;
  background-color: rgb(189, 170, 170);
  border-radius: 12px;
}
.main-section-sidebar h3{
  text-align: center;
  margin: 12px 0;
  color: #fff;
  text-decoration: underline;
}

/* sidebar */
.sidebar-card-items{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 15px;
}
.btn-wrapper{
text-align: end;
margin: 15px 0;
}
.btn-sidebar{
  padding: 8px 16px;
  background-color: rgb(95, 241, 95);
  border-radius: 6px;
  border: none;
  outline: none;

}

.sidebar-image-wrapper{
  width: 30%;
  height: 90px;
  align-self: flex-start;
}
.sidebar-image-wrapper img{
  width: 100%;
  height: inherit
}
.sidebar-description{
  width: 68%;


}
/* sidebar */


/* home section */